.App {
  background-color: azure;
  background-position: center;
  text-align: center;
  color: navajowhite;
  
}

.App-header {
  background-color: coral;
  color: brown;
}

.firstLine {
  display: inline-block;
  max-width: 200px;
  padding: 60px 30px;
  margin: 1em;
  background-color: rosybrown;
  align-items: center;
  justify-content: center;
  color: beige;
}

.footer {
  background-color: teal;
  padding: 20px;
  color: navy;
}

button {
  padding: 50px;
  background-color: midnightblue;
  color: azure;
  border-radius: 16px;
  
 
}

button:hover {
 font-size: 18px;
}